
@model MeetingInfo
@{
    ViewBag.Title ="Toplanti Başvuru";
    Layout = "_Layout2";
}
<h1 class="h4">@ViewData["Selamlama"], @ViewData["UserName"]</h1>
<p>Toplanti katilim durumunuzu bildiriniz.</p>
<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşecek</li>
        <li class="list-group-item">@Model.NumberOfPeople Katilimci</li>
    </ul>
</div>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>

